.jumbotron {
background-color: #f4511e;
width: 100%;
}

h2{
 text-transform: uppercase;

 font-size: 24px;
 color: #303030;
 font-weight: 600;
 margin-bottom: 30px;
 padding-left: 10px;

}
h4{
    font-size: 20px;
line-height: 1.375em;
color: #303030;
font-weight: 400;
margin-bottom: 50px;

}

.fa{
    font-size: 200px;
    color: #f4511e;
    margin-top: 100px;

}
.heading,myc,para{
    margin-top: 150px;
}
.mybutton{
    margin-top: 50px;
    margin-left: 40px;
}
.headserv{
  
}